{% extends 'index.html' %}
{% block body %}

<div class="p-4">
    <div class="row row-sec mb-3">
        <div class="col-4">
            <div class="card card-sec p-2 ms-2 my-2"> 
                <div class="card-body card-pred"><center>
                    <h5 class="card-title pb-4">
                        Enter your details
                    </h5>
                    <hr class="hor-line">
                    <form action="/index" method="post" id="theForm">
                        <div class="row mb-3">
                            <label for="gre" class="col-lg-6 col-form-label">GRE Score:</label>
                            <div class="col-lg-5">    
                                <input type="number" class="form-control" id="gre" name="gre" min="250" max="340" placeholder="250 to 340" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="tofel" class="col-lg-6 col-form-label">TOFEL Score:</label>
                            <div class="col-lg-5">    
                                <input type="number" class="form-control" id="tofel" name="tofel" min="50" max="120" placeholder="50 to 120" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="university_rating" class="col-lg-6 col-form-label">University Rating:</label>
                            <div class="col-lg-5">    
                                <input type="number" class="form-control" id="university_rating" step="0.01" name="university_rating" min="1" max="5" placeholder="1 to 5" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="sop" class="col-lg-6 col-form-label">SOP:</label>
                            <div class="col-lg-5">    
                                <input type="number" class="form-control" id="sop" name="sop" step="0.01" min="1" max="5" placeholder="1 to 5" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="lor" class="col-lg-6 col-form-label">LOR:</label>
                            <div class="col-lg-5">    
                                <input type="number" class="form-control" id="lor" name="lor" step="0.01" min="1" max="5" placeholder="1 to 5" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label for="cgpa" class="col-lg-6 col-form-label">CGPA:</label>
                            <div class="col-lg-5">    
                                <input type="number" class="form-control" id="cgpa" name="cgpa" step="0.01" min="5" max="10" placeholder="5 to 10" required>
                            </div>
                        </div>
                        <fieldset class="row mb-3">
                            <label class="col-form-label col-sm-6 pt-0">Research:</label>
                            <div class="col-sm-5">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="yes_no_radio" id="gridRadios1" value="1">
                                    <label class="form-check-label" for="yes_no_radio">
                                    Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="yes_no_radio" id="gridRadios2" value="0" checked>
                                    <label class="form-check-label" for="yes_no_radio">
                                    No
                                    </label>
                                </div>
                            </div>
                        </fieldset>

                        <hr class="hor-line">
                        <div class="row row-btn lg-3">
                            <div class="col-lg-2 mb-2 me-3">
                            <a href="/predictor">   <button type="button" class="btn-res btn btn-primary" >Reset</button></a>
                            </div>
                            <div class="col-lg-2 mb-2 me-3">
                                <button type="submit" class="btn-sub btn btn-primary" id="button">Predict</button>
                            </div>
                        </div>
                        <div class="row row-btn lg-3"><center>
                            <div class="col-lg-2 col-load" id="spinner">
                                <div class="spinner-border text-primary m-1" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                                <div class="spinner-grow text-primary m-1" role="status">
                                    <span class="visually-hidden">Loading...</span>
                                </div>
                            </div></center>
                        </div>
                    </form></center>
                </div> 
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../static/js/script.js" async></script>
{% endblock %}
